/src/version.vhd.tmp
/src/version.vhd.body
/src/version.vhd
/altera_quartus/db/
/altera_quartus/incremental_db/
/altera_quartus/output_files/RobotLeon2.sof
/altera_quartus/output_files/RobotLeon2.jic
/altera_quartus/output_files/RobotLeon2.asm.rpt
/altera_quartus/output_files/RobotLeon2.done
/altera_quartus/output_files/RobotLeon2.fit.rpt
/altera_quartus/output_files/RobotLeon2.fit.smsg
/altera_quartus/output_files/RobotLeon2.fit.summary
/altera_quartus/output_files/RobotLeon2.flow.rpt
/altera_quartus/output_files/RobotLeon2.jdi
/altera_quartus/output_files/RobotLeon2.map.rpt
/altera_quartus/output_files/RobotLeon2.map.summary
/altera_quartus/output_files/RobotLeon2.pin
/altera_quartus/output_files/RobotLeon2.sta.rpt
/altera_quartus/output_files/RobotLeon2.sta.summary
.depend
Make.dep
*.o
*.a
*.d
*.i
*~
.swp
.*.swp
.gdbinit
cscope.out
